<app-header></app-header>
<!-- Content Box -->
<div class="content-box">
  <ul class="nav nav-tabs h-tab-header">
    <li class="nav-item">
      <a class="nav-link" routerLink="/project/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/project">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/project/exclusion">Exclusion List</a>
    </li>
  </ul>
  <div class="h-tab-content">
    <!-- overview page -->
    <div class="card ">
      <ul class="overview-links">
        <li><a routerLink="/project/create/overview" [queryParams]="{ action: lastAction}">Overview</a></li>
        <li class="active">
          <a href="javascript:void(0)">Target Groups <span>({{proname }})</span></a>
        </li>
        <li *ngIf="project_status != '3'"><a routerLink="/project/create/scheduling"
            [queryParams]="{ action: lastAction}">Scheduling</a></li>
      </ul>
      <form ngNativeValidate #form="ngForm" (ngSubmit)="onSubmit(form, 'txtId', 'inlodImg')">
        <div class="target-tab">
          <div class="target-heading">
            <h3 class="heading-1" routerLink="/project/target-groups" [queryParams]="{ action: lastAction}">
              <i class="icon-arrow-left"></i> target group
            </h3>
          </div>
          <div class="profile-left">
            <div class="nav-pills">
              <app-left-menu></app-left-menu>
            </div>
            <div class="tab-content">
              <div class="row">
                <div class="col-8 sset">
                  <h3 class="inp-label">Security Settings</h3>
                  <h2 class="sec-title">Survey Options</h2>
                  <div class="custom-checkbox only-checkbox">
                    <input type="checkbox" id="chk01" value="1" [(ngModel)]="geoip" name="geoip" />
                    <label for="chk01">
                      <span>GeoIP</span>
                      <p>
                        Block a respondent to take survey from any other Geo location except the selected country.
                      </p>
                    </label>
                  </div>
                  <div class="custom-checkbox only-checkbox">
                    <input type="checkbox" id="chk02" value="1" [checked]="ipdup == 1" [(ngModel)]="ipdup"
                      name="ipdup" />
                    <label for="chk02">
                      <span>IP Duplication</span>
                      <p>
                        Prevent a respondent to participate the survey from same ip address if any respondent already
                        taken.
                      </p>
                    </label>
                  </div>
                  <div class="custom-checkbox only-checkbox">
                    <input type="checkbox" id="chk03" value="1" [(ngModel)]="multi" name="multi" />
                    <label for="chk03">
                      <span>Multiple Attempts</span>
                      <p>
                        Respondent can take the survey multiple time untill he/she reach any of our end page.
                      </p>
                    </label>
                  </div>
                  <!-- <div class="custom-checkbox only-checkbox">
                    <input type="checkbox" id="chk04" value="1" [(ngModel)]="global" name="global" />
                    <label for="chk04">
                      <span>Global Supplier</span>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aliquam at porttitor sem.
                      </p>
                    </label>
                  </div> -->

                  <h2 class="sec-title">Allow Device Type</h2>

                  <div class="device-box">
                    <input type="checkbox" id="device1" value="1" [(ngModel)]="desktop" name="desktop" />
                    <label for="device1"> <img src="assets/img/mobile.png" alt="mpn_security_mobile"> </label>
                  </div>
                  <div class="device-box">
                    <input type="checkbox" id="device2" value="1" [(ngModel)]="tablet" name="tablet" />
                    <label for="device2"> <img src="assets/img/tab.png" alt="mpn_security_tab"> </label>
                  </div>
                  <div class="device-box">
                    <input type="checkbox" id="device3" value="1" [(ngModel)]="mobile" name="mobile" />
                    <label for="device3"> <img src="assets/img/laptop.png" alt="mpn_security_laptop"> </label>
                  </div>
                </div>
                <!-- <div class="col-3">
                  <div class="profile-right">
                    <h3 class="inp-label">Suggested</h3>
                    <div class="radio-box custom-checkbox" *ngFor="let item of source">
                      <input type="checkbox" id="sugtd-box{{item.panel_id}}" name="sugtd-box{{item.panel_id}}" (change)="addToList(item.panel_id,$event.target.checked)" />
                      <label for="sugtd-box{{item.panel_id}}">
                        <span>{{ item.source }}</span> <br />
                        Feasible Completes - {{ item.feasible_completes }} <br />
                        CPI - {{ item.CPI }}
                      </label>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="profile-btn">
            <button class="button3" (click)="previous();">Previous</button>
            <button class="button1 nav-btn" type="submit">
              <span id="txtId">Next</span>
              <img src="assets/img/loading.gif" alt="loderImg" id="inlodImg" class="loderImg">
            </button>
            <button class="button1 cancel-btn" routerLink="/project/target-groups"
              [queryParams]="{ action: lastAction}">Cancel</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
  </div>
</div>
