.dashDatepicker{
    margin-bottom: 10px;
}

.trac-heading h2{
    margin: 10px 0 10px;
}

.custom-select{
    padding: 0 0 0px 0;
    font-size: 14px;
    border-radius: 0;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
}

.dashDatepicker .form-control{
    font-size: 14px;
}