<ul class="nav nav-tabs h-tab-header">
  <li class="nav-item"> <a class="nav-link" routerLink="/panel/dashboard" routerLinkActive="active">Dashboard</a> </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active">
      Engagement
  <li class="sub-nav-item">
    <a class="sub-nav-link" routerLink="/panel/engagement/templates" routerLinkActive="active">Templates</a>
    <a class="sub-nav-link" routerLink="/panel/engagement/promotional-activity" routerLinkActive="active">PR
      Activity</a>
    <a class="sub-nav-link" routerLink="/panel/engagement/bonus-points" routerLinkActive="active">Bonus Points</a>
  </li>
  </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active">
      Recruitment
  <li class="sub-nav-item">
    <a class="sub-nav-link" routerLink="/panel/recruitment/affiliate" routerLinkActive="active">Affiliate</a>
    <a class="sub-nav-link" routerLink="/panel/recruitment/compaingn" routerLinkActive="active">Campaign</a>
    <a class="sub-nav-link" routerLink="/panel/recruitment/tracking" routerLinkActive="active">Tracking</a>
  </li>
  </a>
  </li>
  <li class="nav-item"> <a class="nav-link" routerLinkActive="active">Panel Management
  <li class="sub-nav-item" style="width:150px;">
    <a class="sub-nav-link" routerLink="/panel/panel-management/panelists/" routerLinkActive="active">Panelists</a>
    <a class="sub-nav-link" routerLink="/panel/panel-management/panelist-profiler/" routerLinkActive="active">Panelists
      Profiler</a>
  </li>
  </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active">Incentive
  <li class="sub-nav-item" style="width:150px;">
    <a class="sub-nav-link" routerLink="/panel/incentive/redeem-request" routerLinkActive="active">Manual Payout</a>
    <a class="sub-nav-link" routerLink="/panel/incentive/payout-method" routerLinkActive="active">Payment Method</a>
    <a class="sub-nav-link" routerLink="/panel/incentive/instant-redemption" routerLinkActive="active">Instant
      Redemption</a>
  </li>
  </a>
  </li>
  <li class="nav-item"> <a class="nav-link" routerLinkActive="active">Report
  <li class="sub-nav-item" style="width:150px;">
    <a class="sub-nav-link" routerLink="/panel/report/information" routerLinkActive="active">Information</a>
    <a class="sub-nav-link" routerLink="/panel/report/respondant" routerLinkActive="active">Respondant</a>
  </li>
  </a></li>
  <li class="nav-item"> <a class="nav-link" routerLink="/panel/support" routerLinkActive="active">Support </a></li>
  <li class="nav-item"> <a class="nav-link" routerLink="/panel/settings" routerLinkActive="active">Settings </a></li>
</ul>
