.validation-message2 {
  color: #ff5050;
  padding: 5px 18px;
  font-size: 14px;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 30px;
  top: 50%;
  font-weight: normal;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.validation-message {
  color: #ff5050;
  padding: 5px 18px;
  font-size: 14px;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 20px;
  top: 50%;
  font-weight: normal;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
