<app-header></app-header>

<!-- Content Box -->
<div class="content-box">
  <app-sub-header></app-sub-header>
</div>

<div class="h-tab-content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/panel">Panel</a></li>
      <li class="breadcrumb-item"><a routerLink="/panel/incentive">Incentive</a></li>
      <li class="breadcrumb-item active">Manual Payout</li>
    </ol>
  </nav>

  <div class="card ">
    <ul class="overview-links">
      <li class="active"><a routerLink="/panel/incentive/manual-payout/redeem-request">Redeem Request</a></li>
      <li><a routerLink="/panel/incentive/manual-payout/redemption-processing">Redemption Processing</a></li>
      <li><a routerLink="/panel/incentive/manual-payout/dispatched">Dispatched</a></li>
    </ul>

    <div class="t-head-action">
      <ul class="pull-right margin-20">
        <li>
          <div class="searchAdv"><input type="text" placeholder="Search" class="searchFld"><button class="srchBtn"></button>
            <div class="srch-popup">
              <div class="row">
                <div class="col-12">
                  <h2>Advance Search</h2>
                </div>
                <div class="col-12">
                  <div class="input-box">
                    <label class="inp-label">Project Name</label>
                    <input type="text" placeholder="eg. mumbai ux group" class="inp-field">
                  </div>
                </div>
                <div class="col-6">
                  <div class="input-box">
                    <label class="inp-label">Project Name</label>
                    <input type="text" placeholder="eg. mumbai ux group" class="inp-field">
                  </div>
                </div>
                <div class="col-6">
                  <div class="input-box">
                    <label class="inp-label">Project Name</label>
                    <input type="text" placeholder="eg. mumbai ux group" class="inp-field">
                  </div>
                </div>
                <div class="col-12">
                  <div class="btnSec d-flex justify-content-between align-content-center">
                    <button class="button2">Search</button>
                    <button class="button3">Search</button>
                    <a href="#" class="btnReset">Reset</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="actionBox">
          <div class="actionBtn">Action</div>
          <ul class="action-popup">
            <li><a href="#"><i class="ico-moon icon-pencil blue"></i> Edit</a></li>
            <li><a href="#"><i class="ico-moon icon-right green"></i> Download</a></li>
            <li><a href="#"><i class="ico-moon icon-trash orange"></i> Delete</a></li>
          </ul>
        </li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="target-tab">
      <div class="profile-left target-w100">
        <div class="t-table-box">
          <div class="myTable">
            <div class="myTableHead">
              <div class="row">
                <div class="col"><span>Payment Method</span> </div>
                <div class="col"><span>Status</span></div>
                <div class="col"><span>Total Points</span></div>
                <div class="col"><span>Total Transaction</span></div>
              </div>
            </div>
            <div class="myTableBody bg-color-gry">
              <div class="row">
                <div class="col"><span>Amazone</span></div>
                <div class="col"><span>Dispatched</span></div>
                <div class="col"><span>3000</span></div>
                <div class="col"><span>100</span></div>
              </div>
            </div>
            <div class="myTableBody bg-color-gry">
              <div class="row">
                <div class="col"><span>Flipkart</span></div>
                <div class="col"><span>Dispatched</span></div>
                <div class="col"><span>3000</span></div>
                <div class="col"><span>100</span></div>
              </div>
            </div>
            <div class="myTableBody bg-color-gry">
              <div class="row">
                <div class="col"><span>Amazone</span></div>
                <div class="col"><span>Dispatched</span></div>
                <div class="col"><span>3000</span></div>
                <div class="col"><span>100</span></div>
              </div>
            </div>
            <div class="myTableBody bg-color-gry">
              <div class="row">
                <div class="col"><span>Flipkart</span></div>
                <div class="col"><span>Dispatched</span></div>
                <div class="col"><span>3000</span></div>
                <div class="col"><span>100</span></div>
              </div>
            </div>
            <div class="myTableBody bg-color-gry">
              <div class="row">
                <div class="col"><span>Amazone</span></div>
                <div class="col"><span>Dispatched</span></div>
                <div class="col"><span>3000</span></div>
                <div class="col"><span>100</span></div>
              </div>
            </div>
            <div class="myTableBody bg-color-gry">
              <div class="row">
                <div class="col"><span>Flipkart</span></div>
                <div class="col"><span>Dispatched</span></div>
                <div class="col"><span>3000</span></div>
                <div class="col"><span>100</span></div>
              </div>
            </div>
            <div class="myTableBody bg-color-gry">
              <div class="row">
                <div class="col"><span>Amazone</span></div>
                <div class="col"><span>Dispatched</span></div>
                <div class="col"><span>3000</span></div>
                <div class="col"><span>100</span></div>
              </div>
            </div>
          </div>
          <!-- Table Ends -->
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="paginationBox">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#"><i class="ico-moon icon-arrow-left"></i></a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#"><i class="ico-moon icon-arrow-right"></i></a></li>
      </ul>
      <div class="rowsBox">
        <div class="actionBox">
          <div class="actionBtn">Rows</div>
          <ul class="action-popup">
            <li><a href="#">10</a></li>
            <li><a href="#">20</a></li>
            <li><a href="#">30</a></li>
            <li><a href="#">50</a></li>
            <li><a href="#">100</a></li>
          </ul>
        </div>
      </div>
    </div>






  </div>
</div>
