<app-header></app-header>

<!-- Content Box -->
<div class="content-box">
  <app-sub-header></app-sub-header>
</div>

<div class="h-tab-content">
  <!-- overview page-->
  <div class="card ">
    <ul class="overview-links six-links">
      <li><a routerLink="/panel/panel-management/panelists/overview">Overview</a></li>
      <li><a routerLink="/panel/panel-management/panelists/project-history">Project History</a></li>
      <li><a routerLink="/panel/panel-management/panelists/point-history">Point History</a></li>
      <li class="active"><a routerLink="/panel/panel-management/panelists/redemption-history">Redemption History</a>
      </li>
      <li><a routerLink="/panel/panel-management/panelists/referral-history">Referral History</a></li>
      <li><a routerLink="/panel/panel-management/panelists/profile-completion">Profile Completion</a></li>
    </ul>

    <div class="t-table-box">
      <div class="myTable">
        <div class="myTableHead">
          <div class="row">
            <div class="col"><span>Payment Method <i class="ico-moon icon-sort"></i></span></div>
            <div class="col"><span>Batch / Transaction ID<i class="ico-moon icon-sort"></i></span></div>
            <div class="col"><span>Points<i class="ico-moon icon-sort"></i></span></div>
            <div class="col"><span>Reward Code / Link<i class="ico-moon icon-sort"></i></span></div>
            <div class="col"><span>Reward Pin<i class="ico-moon icon-sort"></i></span></div>
            <div class="col"><span>Exp. Date<i class="ico-moon icon-sort"></i></span></div>
            <div class="col"><span>Status<i class="ico-moon icon-sort"></i></span></div>
            <div class="col"><span>Dispatch Date <i class="ico-moon icon-sort"></i></span></div>
            <div class="col"><span>Payment Mode<i class="ico-moon icon-sort"></i></span></div>
          </div>
        </div>
        <div class="message error centererror"
          *ngIf="(getProjectHistoryLists | filterBy: searchTxt)?.length === 0 && is_show">No Panelist Remdeptions
          Available</div>
        <!--myTableBody  -->
        <div *ngIf="getProjectHistoryLists.length > 0">
          <div class="myTableBody"
            *ngFor="let p of getProjectHistoryLists | filterBy : searchTxt | paginate: { itemsPerPage: pageSize, currentPage: cPage, totalItems: total }; let i = index;">
            <div class="row">
              <div class="col"><span>{{p?.method_name}}</span></div>
              <div class="col"><span>{{p?.transaction_id}}</span></div>
              <div class="col"><span>{{p?.redeemed_points}}</span></div>
              <div class="col"><span>{{p?.reward_code}}</span></div>
              <div class="col"><span>{{p?.reward_pin}}</span></div>
              <div class="col"><span>{{p?.expire_date}}</span></div>
              <div class="col"><span>{{p?.status}}</span></div>
              <div class="col"><span>{{p?.dispatch_date}}</span></div>
              <div class="col"><span>{{p?.payment_mode}}</span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Table Ends -->
    </div>
  </div>
</div>
<div class="paginationBox"
  *ngIf="(getProjectHistoryLists | filterBy: searchTxt)?.length != 0">
  <div class="pagination justify-content-center">
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
  <div class="rowsBox"
    *ngIf="(getProjectHistoryLists | filterBy: searchTxt)?.length != 0">
    <div class="actionBox">
      <select class="select-box-class" (change)="perPage(perpage);" [(ngModel)]="perpage" name="perpage">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
  </div>
</div>
