<app-header></app-header>
<!-- Content Box -->
<div class="content-box">
  <app-sub-header></app-sub-header>
</div>

<div class="h-tab-content">
  <div class="t-head-box">
    <div class="t-head-heading panel-icon c-pointer" (click)="cs.back();">
      <h2><i class="icon icon-arrow-left"></i> New PR Activity</h2>
    </div>
  </div>
  <div class="t-table-box new-panel">
    <form (ngSubmit)="onSubmitClik(form , 'confirmtxtid', 'confirmlodImg')" novalidate #form="ngForm">
      <div class="row">
        <div class="col-5">
          <div class="row">
            <div class="col">
              <ng-select class="rch-ind drop-select" name="template_category_id" [options]="activityTemp"
                placeholder="Select Option" label="Activity" (selected)="getActivityPanel($event);"
                [(ngModel)]="addActivity.template_category_id" required>
              </ng-select>
              <div id="template_category_id" class="validation-message d-none">
                <div>Required</div>
              </div>
            </div>
            <div class="col">
              <label for="" class="inp-label">Bonus Points</label>
              <input type="number" placeholder="eg. 1000" #bonuspoint="ngModel" name="bonus_points"
                [(ngModel)]="addActivity.bonus_points" class="inp-field" required>
              <div *ngIf="bonuspoint.touched && !bonuspoint.valid">
                <div class="validation-message" *ngIf="bonuspoint.errors.required">Required</div>
              </div>
            </div>
          </div>
          <div class="row select-preview">
            <div class="col-6">
              <div class="position-relative">
                <ng-select class="rch-ind drop-select" name="email_content" [(ngModel)]="addActivity.email_content"
                  [options]="emailTemplate" placeholder="Select Option" (selected)="selectedOption('e', $event)" label="Email Template" required>
                </ng-select>
                <div id="email_content" class="validation-message d-none">
                  <div>Required</div>
                </div>
                <a href="javascript:void(0);" class="preview pri-class" (click)="previewTemplate('e');">Preview</a>
              </div>
            </div>
            <div class="col-6">
              <div class="position-relative">
                <ng-select class="rch-ind drop-select" name="sms_content" [(ngModel)]="addActivity.sms_content"
                  [options]="smsTemplate" placeholder="Select Option" (selected)="selectedOption('s', $event)" label="SMS Template">
                </ng-select>
                <a href="javascript:void(0);" class="preview pri-class" (click)="previewTemplate('s');">Preview</a>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="addActivity.template_category_id == '36'">
            <div class="col-6">
              <ng-select class="rch-ind drop-select" name="panel_question_category_id"
                [(ngModel)]="addActivity.panel_question_category_id" [options]="quesCat" (selected)="selectCategories($event)" placeholder="Select Option" label="Category">
              </ng-select>
            </div>
          </div>
          <div class="row activity-datebox">
            <div class="col-6">
              <div class="datepicker-box">
                <h3 class="inp-label">From</h3>
                <div class="input-group date" data-date-format="dd-mm-yyyy">
                  <input class="form-control" type="text" id="datepicker" />
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="datepicker-box">
                <h3 class="inp-label">To</h3>
                <div class="input-group date" data-date-format="dd-mm-yyyy">
                  <input class="form-control" type="text" id="datepicker2" />
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="activity-right">
            <div class="card box-shadow">
              <h4 class="inp-label">Total Applicable</h4>
              <ul>
                <li> {{activityCounts?.total_applicable}} Mails</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div class="mb-4">
            <h4>Filter</h4>
          </div>
          <div class="row activity-datebox">
            <div class="col-6">
              <div class="datepicker-box">
                <h3 class="inp-label">Start Date</h3>
                <div class="input-group date" data-date-format="dd-mm-yyyy">
                  <input class="form-control" type="text" id="datepicker3" />
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="datepicker-box">
                <h3 class="inp-label"> End Date</h3>
                <div class="input-group date" data-date-format="dd-mm-yyyy">
                  <input class="form-control" type="text" id="datepicker4" />
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="region-radio active-radio">
              <h3 class="inp-label">Panelist Status</h3>
              <span>
                <input type="radio" name="panelist_status" [value]="1" (change)="onChange1();" [(ngModel)]="addActivity.panelist_status" id="reg1">
                <label for="reg1">Active</label>
              </span>
              <span>
                <input type="radio" name="panelist_status" [value]="0" (change)="onChange1();" [(ngModel)]="addActivity.panelist_status"
                  id="reg2">
                <label for="reg2">InActive</label>
              </span>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="activity-right">
            <div class="card box-shadow">
              <h4 class="inp-label">Total Invitations</h4>
              <ul>
                <li> {{activityCounts?.sms_invitation}} SMS</li>
                <li> {{activityCounts?.email_invitation}} Mails</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-btn activity-btn">
        <button appAppNoDblClick href="javascript:void(0);" class="button1 nav-btn">
          <span id="confirmtxtid">Submit</span>
          <img src="assets/img/loading.gif" alt="loderImg" id="confirmlodImg" class="loderImg">
        </button>
        <!-- <button class="button1 cancel-btn">Cancel</button> -->
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="previewModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="../../../assets/img/cross-red.png" alt=""></span>
        </button>
      </div>
      <div class="modal-body confirm-box">
        <h2>Preview</h2>
        <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(preview[call]?.content)"></div>
        <!-- <button class="button2" (click)="deleteData('confirmtxtid', 'confirmlodImg');">
          <span id="confirmtxtid">Confirm</span>
          <img src="assets/img/loading.gif" alt="loderImg" id="confirmlodImg" class="loderImg"></button>
        <button class="button1 cancel-btn" data-dismiss="modal" aria-label="Close">Cancel</button> -->
      </div>
    </div>
  </div>
</div>